1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

In [3]:
print(test2)

This is a test of the emergency text system,

In [5]:
if test1 == test2:
    print('x')

x

same

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [9]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]


with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

print("The SQLite database 'books.db' and the 'books' table have been created.")

The SQLite database 'books.db' and the 'books' table have been created.

5. Read books.csv and insert its data into the book table.

In [11]:
import csv
import sqlite3


conn = sqlite3.connect('books.db')
cursor = conn.cursor()


with open('books.csv', 'r') as file:
    csv_file = csv.reader(file)
    next(csv_file)

    for row in csv_file:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                       (title, author, int(year)))

conn.commit()
conn.close()

print("Data from 'books.csv' has been inserted into the 'books' table.")

Data from 'books.csv' has been inserted into the 'books' table.

6. Select and print the title column from the book table in alphabetical order.

In [12]:
import sqlite3


conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT title FROM books ORDER BY title ASC")
results = cursor.fetchall()

print("Titles in alphabetical order:")
for row in results:
    print(row[0])

conn.close()

Titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [13]:
import sqlite3


conn = sqlite3.connect('books.db')
cursor = conn.cursor()


cursor.execute("SELECT * FROM books ORDER BY year ASC")
results = cursor.fetchall()

print("Books in the order of publication:")
for row in results:
    print(row)


conn.close()

Books in the order of publication:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [14]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

conn = engine.connect()

conn.close()